html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center; 
    margin: 0;
    min-height: 90%;
    position: relative;
}

#calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5% 15% auto auto auto auto auto;
    width: 400px;
    height: 700px;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    border: solid;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

#result-display {
    grid-row: 2;
    grid-column: 1/5;
    display: flex;
    border-bottom: solid;
}

#display-text {
    font-size: large;
    line-height: 400%;
    padding-left: 1%;

}

#main-display {
    font-size: xx-large;
    text-align: right;
    width: 100%;
    padding-right: 1%;
    line-height: 130%;
}

#secondary-display {
    grid-row: 1;
    grid-column: 1/5;
    display: flex;
    border-bottom: solid;
}

#subtotal-text {
    font-size: small;
    padding-left: 1%;
    line-height: 20%;
}

#subtotal-display {
    font-size: medium;
    text-align: right;
    width: 100%;
    line-height: 0%;
    padding-right: 1%;
}

#backspace-btn {
    grid-row: 3;
    grid-column: 3 / 5;
}

#clear-btn {
    grid-row: 3;
    grid-column: 1 / 3;
}

button {
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

.plus {
    height: 100px;
    position: relative;
    width: 20px;
    grid-row: 2;
}

.plus:after {
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
}

#left-container {
    margin-right: 50%;
    margin-top: 10%;
    display: grid;
}

#grey {
    background-color: #878E88;
    left: 75%;
    top: 20%;
}

#grey::after {
    background-color: #878E88;
}

#opal {
    background-color: #96C0B7;
    left: 30%;
}

#opal::after {
    background-color: #96C0B7
}

#beige {
    background-color: #D4DFC7;
    bottom: 20%;
    right: 15%;
}

#beige::after {
    background-color: #D4DFC7;
}

.minus {
    width: 120px;
    height: 20px;
    position: relative;
    grid-row: 7;
}

#frost {
    background-color: #C1C5D7;
    left: 70%;
    top: 20%;
}

#dark {
    background-color: #8A9DBC;

}

#blue {
    background-color: #91AFCA;
    bottom: 20%;
    right: 70%;
}

.mult {
    height: 100px;
    position: relative;
    width: 20px;
    grid-row: 2;
    transform: rotate(45deg);
    grid-row: 2;
}

.mult:after {
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
}

.divi {
    height: 100px;
    position: relative;
    width: 20px;
    grid-row: 2;
    transform: rotate(20deg);
    background-color: rebeccapurple;
    grid-row: 7;
}

#right-container {
    display: grid;
    margin-top: 10%;
    margin-right: 10%;
}

#orange {
    right: 75%;
    bottom: 20%;   
    background-color: #E5B78B;
}

#orange:after {
    background-color: #E5B78B ;
}


#red {
    background-color: #EE964B;
    right: 30%;
}

#red::after {
    background-color: #EE964B;
}

#yellow {
    left: 15%;
    top: 20%;
    background-color: #F4D35E;
}

#yellow:after {
    background-color: #F4D35E;
}

#green {
    right: 170%;
    top: 20%;
    background-color: #EB8499;
}

#blu {
    background-color: #97728E;
}

#purple {
    left: 170%;
    background-color: #97728E;
    bottom: 20%;
}
